# Common
NODE_ENV=development
LOG_LEVEL=debug
AWS_REGION=ap-northeast-2

# Local override for AWS SDK to hit LocalStack
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# DDB tables
DDB_TABLE_STATE=demo-platform-state-dev
DDB_TABLE_JOBS=demo-platform-jobs-dev
DDB_TABLE_HISTORY=demo-platform-history-dev

# SQS
SQS_QUEUE_URL=http://localhost:4566/000000000000/demo-platform-jobs-dev

# api only
PORT=8080
ADMIN_USERNAMES=atomoh
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

# worker only
WORKER_POLL_WAIT_SECONDS=20

# shared
GITHUB_PAT=
ARGOCD_BASE_URL=https://argocd.atomai.click
ARGOCD_ADMIN_TOKEN=
PROJECTS_DIR=../../projects
ACCOUNTS_FILE=../../accounts.yaml
